<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat with UNZA Robot</h1>
    <form id="chat-form" method="post">
        {% csrf_token %}
        <label for="prompt">Enter your message:</label>
        <input type="text" id="prompt" name="prompt" required>
        <button type="submit">Send</button>
    </form>
    <div id="response"></div>

    <h2>Conversation</h2>
    <ul>
        {% for conversation in conversations %}
        {% comment %} get username  {% endcomment %}
         
            <li><strong> {{ user.username }} </strong> {{ conversation.user_input }} <br> <strong> UNZA Robot:</strong> {{ conversation.bot_response }}</li>
        {% endfor %}
    </ul>

    <script>
        document.getElementById('chat-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const prompt = document.getElementById('prompt').value;
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'prompt': prompt
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('response').innerText = data.response;
                location.reload(); // Reload the page to show the new conversation
            });
        });
    </script>
</body>
</html>